@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}

.headerBg {
    background-image: url('../img/img-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    font-weight: 400;
    gap: 20px;
}

nav ul li {
    width: 88px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: none;
    color: #FFD12E;
}

.hero {
    text-align: center;
    margin-top: 72px;
}

.hero h2 {
    margin-top: 48px;
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 12px;
}

.hero p {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero-buttons button {
    margin-top: 48px;
    padding: 10px 20px;
    margin: 8px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.hero-buttons button:first-child {
    background-color: #FFD12E;
    color: #000;
}

.hero-buttons button:last-child {
    background-color: transparent;
    border: 1px solid #ffffff;
    background-color: transparent;
}

.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}

.images img {
    width: 100%;
    height: auto;
}

.offers {
    text-align: center;
    padding: 40px 20px;
}

.offers h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.offers p {
    font-size: 18px;
    margin-bottom: 40px;
}

.offer-cards {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.offer-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    background-color: #ffffff0e;
    border-radius: 8px;
}

.offer-card h4 {
    margin-top: 8px;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 8px;
}

.offer-card p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10%;
}

.offer-card img {
    margin-top: 10%;
    margin-bottom: 8px;
}

li.logo {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
}


footer {
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 10px 0;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

#section_contactanos {
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    width: 50%;
    text-align: center;
}

#section_contactanos h1 {
    text-align: center;
}

#section_contactanos p {
    text-align: justify;
}

#div01 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap
}

#div01 figure img {
    width: 200px;
    height: auto;
    border: 2px solid white;
}

#div02 figure img {
    width: 200px;
    height: auto;
    border: 2px solid white;
}


#padre {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hijo {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#div04 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}

#div05 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    padding-left: 30px;
}

#div05 textarea {
    height: 100%;
}

#btnenviar {
    width: 150px;
    height: 40px;
    margin-top: 20px;
}
#txtnombres, #txtcelular{
    width: 90%; 
    height: 25px;
}
#icono01, #icono02{
    margin-left: -25px;
    color: black;
}

  
  .intro{
  
    text-align: center;
    background-color: chocolate;
    height: 400px;  
    display: flex; 
  }
  .pagina {
    width: 100%; 
   background-color: black;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; 
  
  }
  
  
  
  .intro4{
    display: flex; 
  }
  
  .intro1{
    list-style-type: none; 
    padding-top: 100px;  
    padding-right: 150px;  
    padding-left: 100px; 
    font-size: 30px;
  }
  
  .intro2{
    list-style-type: none;  
    padding-top: 120px;
    padding-left: 150px;  
    padding-right: 150px; 
    font-size: 16px;
  
  }
  
  
  
  .paquete1{
    display: flex;
    text-align: center;
    margin-left: 500px;
  
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
  
  }
  .paquete2{
    display: flex;  
    text-align: center;
    margin-left: 500px;
    list-style-type: none;  
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: aliceblue;
  
  }
  
  
  .tamaño{
    width: 400px;
    height: 260px;
  
  
  }
  
  li{
  
    padding: 20px;
   
}

  





.real{
    background-color: black;
    height: 200px;
}
.padre{
    height: 200px;
    margin: 2rem auto;
    text-align: center;
    width: 600px;
}
.h1{
    color: black;
    font-size: 80px;
    font-family:poppins;
    -webkit-text-stroke: 0.1px white;
}
.h2{
    color: white;
    font-size: 20px;
    font-family:poppins;
}
p{
    color: white;
    font-size: 13px;
    font-family:poppins;
}
h3{
    font-size: 25px;
    font-family:poppins;
}
.padre h3{
    color: white;
    height: 200px;
    margin: 2rem auto;
    text-align: center;
    width: 200px;
    font-family:poppins;
}
.contenedor{
    display: flex;
}
.img1{
    margin-right: 80px;
    margin: 50px;
    width: 270px;
    height: 270px;
    border: 2px solid white;
    border-radius: 150px;
}
.img2{
    margin: 50px;
    margin-right: 80px;
    width: 270px;
    height: 270px;
    border: 2px solid white;
    border-radius: 150px;
}
.img3{
    margin: 50px;
    width: 270px;
    height: 270px;
    border: 2px solid white;
    border-radius: 150px;
}
.super{
    background-color:black;
    height:450px;
}
#hijo {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.h1{
    color: black;
    font-size: 30px;
    font-family: poppins;
    -webkit-text-stroke: 0.1px white;
}
#div1 {
    color: white;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    padding-left:280px;
    font-family:poppins;
}
#div2 {
    color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 15px;
    font-family:poppins;
}
.op{
    width: 250px;
    height: 25px;
    font-family:poppins;
}
.op1{
    width: 250px;
    height: 23px;
    font-family:poppins;
}
#btnregistrar {
    width: 170px;
    height: 50px;
    margin-top: 40px;
    font-size: 18px;
    font-family:poppins;
}
#icono01, #icono02, #icono03{
    margin-left: -25px;
    color: black;
}
  
